@charset "ISO-8859-1"; 

body {
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo {
	float: left;
	width: 250px;
	height: 250px;
	display: flex;
	flex-direction: row;
}
/*reset básico*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.menu {
	width: 100%;
	height: 50px;
	font-family: "Aharoni";
}

.menu ul {
	list-style: none;
	position: relative;
	text-align: right;
}

.menu ul li {
	width: 110px;
	float: left;
}

.menu a {
	padding: 15px;
	display: block;
	text-align: right;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	font-style: italic;
	font-size: 17px;
	color: black;
}

.menu a:hover {
	/*color: #FFd700;
	color: #c63939;*/
	color: #ff1a1a;
}

#bt_menu {
	display: none;
}

label[for="bt_menu"] {
	margin-top: 5px;
	display: none;
}

